#help-info,
#optc-db-info {
    font-size: 13px;
    padding: 5px;
}

.class-filter-option {
    font-size: 10px;
}

:disabled {
    cursor: not-allowed;
}

.server-setting-div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.server-radio-div {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.jpn-tm {
    display: none;
}

.div_x,
#div_1_2x_tm_rr,
#div_1_2x_tm {
    display: none;
}

#info_1_2x_alt {
    display: none;
}

#nakama-info {
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}

@media (max-width: 768px) {
    .col-margin {
        margin-bottom: 5px;
    }
}

#unit-detail-class1,
#unit-detail-class2 {
    display: inline-block;
    height: 25px;
    margin: 5px;
    width: 25px;
}

.booster-info,
.confirm-save,
#unit-detail-captain-ability,
#unit-detail-swap,
#unit-detail-special,
#unit-detail-sailor {
    font-size: 13px;
    margin-bottom: 10px;
}

.booster {
    cursor: pointer;
}

.booster-div {
    margin-bottom: 20px;
    min-height: 40px;
}

#ambush-team {
    display: none;
}

.team-slot,
.ambush-team-slot {
    background-image: url('/tm-planner/assets/img/add.png');
    background-size: 100%;
    cursor: pointer;
    float: left;
    height: 40px;
    margin: 1px;
    width: 40px;
}

#add-button {
    background-image: url('/tm-planner/assets/img/add.png');
    background-size: 100%;
    display: inline-block;
    height: 40px;
    margin: 1px;
    width: 40px;
}

#help-button {
    margin: 5px;
    width: 100%;
}

.remove-button-el,
.available-units-el,
.units-in-team-el,
.units-assigned-el,
.unit-detail-el {
    display: none;
}

.select-modal-unit {
    cursor: pointer;
    margin: 1px;
}

.assigned-dh {
    cursor: pointer;
}

.assigned-dh > img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.booster-clone > img {
    filter: brightness(0.5);
    -webkit-filter: brightness(0.5);
}

#export-url-div,
#read-only-button-div {
    display: none;
}

.type-filtered,
.class-filtered,
.lb-filtered {
    opacity: 0.3;
}

.class-mode {
    white-space: normal;
}
.class-decorate {
    background-size: cover;
    display: inline-block;
    height: 13px;
    margin-right: 3px;
    width: 13px;
}

/* Overwrite Bootstrap */
.badge {
    font-size: inherit;
}

#tm-team-sets {
    padding-right: 10px;
}

#tm-team-sets > div {
    width: 100%;
    align-items: flex-end;
}

.team {
    padding: 0 0 5px 25px;
}

.filter-button-div {
    z-index: 10;    
}

.fixed-filter-button {
    position: fixed;
    left: 0px;
    bottom: 0px;
}

.filter-button {
    background: url(../img/filter_bg.png);
    width: 120px;
    height: 40px;
    background-size: 100% 100%;
    text-align: center;
    opacity: 0.5;
    color: white;
    font-size: 25px;
    font-variant-caps: all-small-caps;
    font-weight: bold;
}

.filter-button.active {
    opacity: 1;
}

.fixed-teams {
    width: 100%;
    background: var(--bg-color-main);
    position: fixed;
    bottom: 0;
    z-index: 10;
    border-top: 1px solid;
}

.fixed-filters {
    display: none;
}

.filter-group-div {
    z-index: 11;
    background: var(--bg-color-main);
}

.filter-group-holder {
    display: none;
}

#tm-filter-sets {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    overflow: auto;
}

.tm-filter {
    background: url("../img/pop_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.fixed-filters {
    position: fixed;
    bottom: 0;
    left: 10px;
    width: 100%;
    z-index: 11;
    padding: 35px 0 40px 0;
    background: var(--bg-color-main);
}

#filter-action {
    float: right;
    text-decoration: underline;    
}

.filter-title {
    background: url("../img/title_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 30px;
    min-height: 30px;
    width: 90%;
    margin: 10px auto;
}

.filter-icons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 0px 10px;
}

.filter-title>img {
    position: relative;
    left: 10%;
    top: 5px;
    height: 20px;
}

@media (max-width: 767px) {
    .filter-group-div {
        z-index: 9;
    }

    .fixed-teams div#tm-team-sets {
        overflow: auto;
    }

    .fixed-teams div#tm-team-sets > div.row {
        display: flex;
        flex-flow: nowrap;
    }
}

#team-hints {
    float: left;
    color: #ffc107;
}

@media (min-width: 768px) {
    #team-hints {
        display: none!important;
    }
}

.team .row div {
    padding-right: 0;
}

.booster.ui-draggable-dragging {
    z-index: 11;
}

.expand-collapse-icons-row {
    text-align: right;
}

.cal-button {
    white-space: normal;
}

button.pts-button,
button.cal-button {
    background: var(--bg-color-team-button);
    color: aliceblue;
}

button.pts-button:hover,
button.cal-button:hover {
    color: var(--font-highlight-dl-button);
    background-color: var(--bg-highlight-dl-button);
    border-color: var(--bg-highlight-dl-button);
}

/* prepare the selectors to add a stroke to */
.stroke-single {
    position: relative;
    background: transparent;
    z-index: 0;
    color: #FFEB3B;
    font-size: 15px;
    font-family: monospace;
    top: 8px;
    text-align: center;
}
/* add a single stroke */
.stroke-single:before {
    content: attr(title);
    position: absolute;
    -webkit-text-stroke: 0.3em #000000;
    z-index: -1;
}
