#info {
    font-size: 13px;
    padding: 5px;
}

#nakama-info {
    margin-top: 20px;
    padding: 5px;
}

.booster-info {
    font-size: 13px;
    margin-bottom: 5px;
}

.booster {
    cursor: pointer;
}

.booster-div {
    margin-bottom: 20px;
    min-height: 40px;
}

.team-slot {
    float: left;
    width: 40px;
    height: 40px;
    margin: 1px;
    background-image: url('/tm-planner/assets/img/add.png');
    background-size: 100%;
    cursor: pointer;
}

#add-button {
    width: 40px;
    height: 40px;
    margin: 1px;
    background-image: url('/tm-planner/assets/img/add.png');
    background-size: 100%;
    display: inline-block;
}

#help-button {
    width: 100%;
    margin: 5px;
}

.remove-button-el,
.available-units-el,
.units-in-team-el {
    display: none;
}

.select-modal-unit {
    margin: 1px;
    cursor: pointer;
}

.assigned-dh {
    cursor: pointer;
}

.booster-clone > img {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
}

.type-filter {
    padding: 5px;
    margin: 5px;
    width: 50px;
    float: left;
    opacity: 0.5;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.class-filter {
    margin: 5px;
    width: 25px;
    height: 25px;
    float: left;
    opacity: 0.5;
    cursor: pointer;
}

.selected {
    opacity: 1;
}

.filtered {
    opacity: 0.3;
}

.STR { color: red; }
.DEX { color: green; }
.QCK { color: blue; }
.PSY { color: goldenrod; }
.INT { color: darkorchid; }

.STR-div { background-color: red; }
.DEX-div { background-color: green; }
.QCK-div { background-color: blue; }
.PSY-div { background-color: goldenrod; }
.INT-div { background-color: darkorchid; }

.fighter-div        { background-image: url('/common/assets/img/class_fighter.png'); }
.slasher-div        { background-image: url('/common/assets/img/class_slasher.png'); }
.striker-div        { background-image: url('/common/assets/img/class_striker.png'); }
.shooter-div        { background-image: url('/common/assets/img/class_shooter.png'); }
.free-spirit-div    { background-image: url('/common/assets/img/class_free_spirit.png'); }
.cerebral-div       { background-image: url('/common/assets/img/class_cerebral.png'); }
.powerhouse-div     { background-image: url('/common/assets/img/class_powerhouse.png'); }
.driven-div         { background-image: url('/common/assets/img/class_driven.png'); }
