#container {
    padding: 5px;
    text-align: center;
    width: 100%;
}

#main-cd {
    font-size: 30px;
}

.begin-end {
    font-weight: bold;
}

.halfSta-active {
    color: red;
    display: none;
    font-weight: bold;
}

.active-bg {
    background-color: rgba(250, 128, 114, 0.6);
}

.end-event-row {
    display: none;
}
