button {
    font-family: 'Ubuntu', sans-serif;
}

.footer,
.cal-setting-div,
#info {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

#info {
    font-size: 12px;
}

#calendar {
    width: 1052.1px;  /* 150px per cell, with 2.1px of lines */
    margin: 0 auto;
}

.fc-title {
    padding-left: 10px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.fc-bgevent {
    opacity: 0.75;
}

.fc-bgevent.sugo {
    opacity: 0.35;
}

.filtered {
    opacity: 0.3;
}

.night-mode td.fc-today {
    background-color: rgb(75, 75, 75);
}
