button {
    font-family: 'Ubuntu', sans-serif;
}

.cal-setting-div,
.footer,
#info {
    margin-bottom: 5px;
    text-align: center;
}

#info {
    font-size: 12px;
}

#calendar {
    margin: 0 auto;
    width: 1052.1px;  /* 150px per cell, with 2.1px of lines */
}

.event-detail-item,
#event-detail-clone,
#modal-close-button {
    display: none;
}

.fc-title {
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    padding-left: 10px;
}

.fc-bgevent {
    opacity: 0.75;
}

.fc-bgevent.sugo {
    opacity: 0.35;
}

.filtered {
    opacity: 0.3;
}

.fc th,
.fc td {
    border-width: .1px;
}

.fc td.fc-today {
    border-color: goldenrod;
    border-style: solid;
    border-width: 5px;
}

.fc-unthemed td.fc-today {
    background-color: inherit;
}

.night-mode td.fc-today {
    background-color: inherit;
}

.fc table {
    border-collapse: separate !important;
}
