.info {
    font-size: 13px;
    padding: 5px;
}

.name-span {
    padding-left: 10px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.global-filter {
    padding: 5px;
    margin: 5px;
    width: 100px;
    float: left;
    opacity: 0.5;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
